.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 1.918vw;
    z-index: 1001;
}

.header-inner {
    padding: 0.595vw 0.794vw;
    border-radius: 16px;
    background-color: rgb(79, 79, 79, 0.75);
    backdrop-filter: blur(1.759vw);
    margin: 0 4.233vw;
}

.header-menu {
    gap: 1.19vw;
    margin-left: 5vw;
}

.header-menu ul {
    list-style: none;
    gap: 1.45vw;
}

.header-menu ul li a {
    font-size: 0.75vw;
    opacity: 0.65;
}



.header-menu ul li {
    transition: all 0.3s ease;
    font-weight: 300;
}


.header-menu ul li a.active {
    opacity: 1;
    color: #FFF;
    /* font-weight: 600; */
}

/* .header-menu ul li a:hover {
    color: #FFF;
} */

.header-logo {
    max-width: 2.249vw;
    width: 100%;
}

.header-menu a sup {
    font-family: 'NB Architekt Std';
    right: -0.4em;
    top: -0.5vw;
    position: relative;
    font-size: 65%;
    font-weight: 100;
}

.header-menu a:hover {
    color: #FF7B31;
}

.header-search .inner {
    gap: 0.728vw;
}

.header-search input {
    font-size: clamp(7px, 0.731vw, 20px);
    letter-spacing: 0.037em;
    color: #fff;
    border: none;
}

.header-search input::placeholder {
    color: #fff;
}

.header-search .icon-search {
    width: 1.984vw;
    height: 1.984vw;
}




.sub-menu .menu-title {
    color: #979797;
    text-transform: uppercase;
    letter-spacing: 0.04vw;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    margin-bottom: 6vw;
    position: relative;
    opacity: 0;
}

.sub-menu .menu-title .plus {
    display: inline-block;
    color: #000;
    font-size: 1vw;
    font-weight: 300;
    position: absolute;
    left: -1.5vw;
}

.sub-menu.active .menu-title {
    opacity: 1;
    animation: glitchFlicker 0.4s steps(5) forwards;
}


.sub-menu .menu-description h5 {
    font-size: 0.6vw;
    letter-spacing: 0.04vw;
    color: #979797;
    font-weight: 600;
    /* opacity: 0; */
    margin-bottom: 1.5vw;
}

/* .sub-menu.active .menu-description h5 {
    animation: glitchFlicker 0.4s steps(5) forwards;
    animation-delay: 0.2s;
} */

.sub-menu .menu-description p {
    font-size: 0.9vw;
    line-height: 1.2;
    letter-spacing: 0.04vw;
    color: #979797;
    /* opacity: 0;; */
    max-width: 14vw;
}

/* .sub-menu.active  .menu-description p{
    animation: glitchFlicker 0.4s steps(5) forwards;
    animation-delay: 0.4s;
} */

.sub-menu ul {
    list-style: none;
    gap: 0.5vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sub-menu ul li {
    transition: all 1s ease;
    opacity: 0;
    transform: translateY(-0.2vw);
}

.sub-menu.active ul li {
    opacity: 1;
    transform: translateY(0vw);
}

.sub-menu.active ul li:nth-child(1) {
    transition-delay: 0.1s;
}

.sub-menu.active ul li:nth-child(2) {
    transition-delay: 0.15s;
}

.sub-menu.active ul li:nth-child(3) {
    transition-delay: 0.2s;
}

.sub-menu.active ul li:nth-child(4) {
    transition-delay: 0.25s;
}

.sub-menu.active ul li:nth-child(5) {
    transition-delay: 0.35s;
}

.sub-menu.active ul li:nth-child(6) {
    transition-delay: 0.45s;
}

.sub-menu.active ul li:nth-child(7) {
    transition-delay: 0.5s;
}


.sub-menu ul li a {
    font-size: 1.4vw;
    color: #000;
    text-decoration: none;
    position: relative;
}

.sub-menu ul li a.inactive {
    opacity: 0.2;
}

.sub-menu ul:not(.index-control):hover li a {
    opacity: 0.2;
}

.sub-menu ul:not(.index-control):hover li:hover a {
    opacity: 1;
}

.sub-menu ul li a:before {
    transition: all 0.3s ease;
    content: '';
    background: url(../img/arrow-right-black.png) no-repeat center center;
    background-size: contain;
    width: 1vw;
    height: 1.4vw;
    position: absolute;
    left: -2.2vw;
    opacity: 0;
}

.sub-menu ul li a:hover:before {
    opacity: 1;
    left: -1.5vw;
}

.sub-menu ul li a:hover {
    color: #000;
}

.sub-menu video {
    width: 100%;
    border-radius: 0.5vw;
}

.sub-menu .columns {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    width: 100%;
    flex-wrap: nowrap;
    padding: 4vw 6vw 5vw;
}

.sub-menu .columns.four-columns .column:first-child,
.sub-menu .columns .column:first-child {
    width: 26%;
}

.sub-menu .columns .column:nth-child(2) {
    width: 40%;
}

.sub-menu .columns.columns.four-columns .column:nth-child(2) {
    width: 19%;
}

.sub-menu .columns.columns.four-columns .column:nth-child(4) {
    width: 30%;
}

.sub-menu .columns .column {
    width: 33%;
}


.sub-menu .columns.four-columns .column {
    width: 25%;
}

.sub-menu .index-control li a {
    /* opacity: 0.15; */
}

.sub-menu .index-control li a.active {
    opacity: 1;
}

.sub-menu .columns .index-control li a.active:before {
    opacity: 1;
    left: -1.5vw;
}

.sub-menu .columns.columns.four-columns video {
    mix-blend-mode: darken;
    border-radius: 0;
}

.sub-menu .columns .index-menu h5 {
    color: #979797;
    text-transform: uppercase;
    letter-spacing: 0.04vw;
    font-size: 0.8vw;
    margin-bottom: 1.5vw;
    opacity: 0;
}

.sub-menu .columns .index-menu a {
    display: block;
    margin-bottom: 0.4vw;
    color: #000;
    opacity: 0;
}

.sub-menu .columns .index-menu.active a {
    opacity: 1;
}

.sub-menu .columns .index-menu.active h5 {
    opacity: 1;
    animation: glitchFlicker 0.7s steps(5) forwards;
}

.sub-menu .columns .index-menu.active a:nth-child(2) {
    transition-delay: 0s;
}
.sub-menu .columns .index-menu.active a:nth-child(3) {
    transition-delay: 0.1s;
}
.sub-menu .columns .index-menu.active a:nth-child(4) {
    transition-delay: 0.15s;
}
.sub-menu .columns .index-menu.active a:nth-child(5) {
    transition-delay: 0.2s;
}
.sub-menu .columns .index-menu.active a:nth-child(6) {
    transition-delay: 0.25s;
}
.sub-menu .columns .index-menu.active a:nth-child(7) {
    transition-delay: 0.3s;
}

.sub-menu-wrapper {
    position: relative;
    /* height: 0px; */
    height: 0px;
    transition: all 0.4s ease;
    overflow: hidden;
    border-radius: 16px;
    background-color: rgba(212, 212, 212, 0.9);
    backdrop-filter: blur(1.759vw);
    margin: 0 4.233vw;
}

.sub-menu {
    /* transition: all 1s ease; */
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    /* transition: all 1s ease; */
}

.sub-menu.active {
    opacity: 1;
    pointer-events: auto;
}




.index-video  {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.index-video.active {
    opacity: 1;
    
}